.navbar-dark {
  background: #1d1e22; }
  .navbar-dark .nav-link,
  .navbar-dark .navbar-link {
    font-size: 110%;
    font-weight: 500; }
  .navbar-dark .nav-item {
    margin: 0 13px; }
  .navbar-dark img {
    border-radius: 50%; }
  .navbar-dark .navbar-toggler {
    border: none;
    outline: none; }

.jumbotron {
  margin-top: 50px;
  min-height: 400px;
  position: relative;
  background-color: black; }
  .jumbotron h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: floralwhite; }
  .jumbotron h5 {
    font-weight: 500;
    font-size: 1.8rem;
    color: floralwhite; }
  .jumbotron p {
    font-size: 1.2rem;
    font-weight: 400;
    color: floralwhite; }

.jumbotron::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: url("../img/header-img.jpg") no-repeat center center/cover; }

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 10px; }

.card-body h4 {
  padding-top: 10px; }

.card {
  margin-bottom: 30px; }

.card-header {
  font-weight: 400;
  font-size: 110%; }

.carousel {
  max-height: 520px;
  background-color: #dadada; }
  .carousel .carousel-item {
    max-height: 520px; }
    .carousel .carousel-item img {
      height: 100%;
      width: 100%; }
  .carousel .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #1d1e22; }

.footer {
  background-color: #dadada;
  padding-top: 20px; }
  .footer address {
    font-weight: 400; }

.row-content {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px #ddd ridge; }

#emergency {
  position: absolute;
  display: block;
  justify-self: end; }

.iconcolblack {
  color: black; }

.modal .modal-body {
  background-color: #dadada;
  color: black; }

.modal .modal-header {
  color: floralwhite;
  background-color: #1d1e22; }
  .modal .modal-header .close {
    color: floralwhite; }

h4 {
  margin-bottom: 12px; }
