$background-dark: #141B4D;
$background-light: #5e67a8;
$background-pale: #b5bbe9;

.navbar-dark{
    background: $background-dark;
    .nav-link, .navbar-link{
    font-size: 110%;
    font-weight: 500;
}
.nav-item
{
    margin: 0 13px;
}
    img{
        border-radius: 50%;
    }
    .navbar-toggler{
        border: none;
        outline: none;
    }
}
.jumbotron{
    margin-top: 50px;
    background-color: $background-light;
    img{
        border-radius: 200px;
    }
    h2{
        font-size: 250%;
        font-weight: 500;
    }
    h5{
        font-weight: 500;
        font-size: 180%;
    }
    p{
        font-size: 120%;
        font-weight: 400;
    }

}

.carousel{
    max-height: 550px;
    .carousel-item{
    height: 100%;
    width: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
.footer{
    background-color: $background-pale;
    margin-top: 1000px;
    padding-top: 20px;
    address{
        font-weight: 400;
    }
}