.navbar-dark {
  background: #141B4D; }
  .navbar-dark .nav-link, .navbar-dark .navbar-link {
    font-size: 110%;
    font-weight: 500; }
  .navbar-dark .nav-item {
    margin: 0 13px; }
  .navbar-dark img {
    border-radius: 50%; }

.footer {
  background-color: #b5bbe9;
  margin-top: 1000px;
  padding-top: 20px; }
  .footer address {
    font-weight: 400; }
